/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}

.contener{
    width: 100%;
    max-width: 1980px;
    margin: auto;
    padding: 0 90px;
}

.header{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    border-radius: 200px;
    top: 0;
    background-color: black;
    /* box-shadow: 0 0 10px rgba(86, 255, 35, 0.541); */
}

.header:hover{
    box-shadow: 0 0 45px rgba(86, 255, 35, 0.541);
}

.header__image{
    width: 120px;
    height: 40px;
    margin-bottom: 5px;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav--link{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.header__nav--link:hover{
    color: rgb(0, 255, 55);
    text-shadow: 0 0 30px rgb(87, 255, 35);
}


.section{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__image{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 6px solid rgb(87, 255, 35);
}

.section__image:hover{
    box-shadow: 0 0px 80px rgb(87, 255, 35);
}

.section__box--text{
    margin-bottom: 25px;
    font-size: 75px;
    color: white;
    text-shadow: 0 0 60px rgba(255, 255, 255, 0.562);
}


.section__box--span{
    color: rgb(0, 255, 55);
    text-shadow: 0 0 60px rgba(0, 255, 55, 0.623);
}

.section__box--text2{
    margin-bottom: 10px;
    font-size: 35px;
    color: white;
}

.section__box--paragrf{
    width: 850px;
    font-size: 22px;
    font-weight: 400;
    color: white;
}

/* icon */
.icon{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.icon__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: none;
    border: 2px solid rgb(87, 255, 35);
}

.fa-brands{
    color: rgb(0, 255, 55);
    font-size: 35px;
}

.icon__box:hover{
    background-color: rgb(0, 255, 55);
    box-shadow: 0 0 40px rgb(87, 255, 35);
}

.fa-brands:hover{
    color: white;
}

.section__btn{
    display: flex;
    align-items: center;
    gap: 40px;
}

.section__btn--button{
    border-radius: 88px;
    background: rgb(87, 255, 35);
    border: 3px solid rgb(87, 255, 35);
    padding: 15px 35px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
}

.section__btn--button:hover{
    box-shadow: 0 0 45px rgb(87, 255, 35);
    background: none;
    border: 3px solid rgb(87, 255, 35);
    color: rgb(0, 255, 55);
}

.section__btn--buttonn:hover{
    box-shadow: 0 0 45px rgb(87, 255, 35);
    background: rgb(87, 255, 35);
    color: black;
}

.section__btn--buttonn{
    border-radius: 88px;
    background: none;
    border: 3px solid rgb(87, 255, 35);
    padding: 15px 48px;
    color: rgb(0, 255, 55);
    font-size: 24px;
    font-weight: 700;
}


/* figma */
.figma{
    width: 100%;
    height: 1300px;
    display: flex;
    align-items: center;
}

.figma__text{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: white;
    margin-bottom: 70px;
}

.figma__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}


.figma__card{
    width: 370px;
    height: 480px;
    border-radius: 8px;
    border: 4px solid rgb(87, 255, 35);
}

.figma__card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 45px rgb(87, 255, 35);
}

.figma__card--imge{
    width: 362px;
    height: 240px;
    border-radius: 4px;
}

.qwert{
    padding: 18px 25px;
}

.figma__card--text{
    font-size: 24px;
    color: rgb(0, 255, 55);
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 0 0 50px rgb(0, 255, 55);
}

.figma__card--paragrf{
    width: 300px;
    color: white;
}

.figma__card--btn{
    padding: 13px 30px;
    margin-top: 20px;
    border-radius: 8px;
    background: none;
    border: 4px solid rgb(87, 255, 35);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
}

.figma__card--btn:active{
    background-color: rgb(87, 255, 35);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 45px rgb(87, 255, 35);
}


/* About */
.about{
    height: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__text--paragrf{
    width: 900px;
    font-size: 16px;
    color: white;
    margin-top: 40px;
}

.about__text--btn{
    border-radius: 80px;
    margin-top: 30px;
    padding: 18px 45px;
    background: none;
    border: 4px solid rgb(87, 255, 35);
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.about__text--btn:hover{
    background-color: rgb(87, 255, 35);
    box-shadow: 0 0 35px rgb(0, 255, 55);
    color: black;
}



/* contact */
.contact{
    height: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__text{
    display: flex;
    align-items: center;
    justify-content: center;
}


.input__text{
    display: block;
    width: 550px;
    height: 65px;
    border-radius: 500px;
    text-indent: 30px;
    background: none;
    border: 3px solid rgb(87, 255, 35);
    color: rgb(255, 255, 255);
    font-size: 17.9px;
    margin-bottom: 30px;
    outline: none;
}

.input__text:focus{
    border: none;
    box-shadow: 0 0 30px rgb(87, 255, 35);
    border: 3px solid rgb(87, 255, 35);
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}


.input2__text{
    display: block;
    padding: 40px;
    width: 550px;
    height: 250px;
    border-radius: 8px;
    background: none;
    border: 3px solid rgb(87, 255, 35);
    color: rgb(255, 255, 255);
    font-size: 17.9px;
    margin-bottom: 40px;
    outline: none;
}


.input2__text:focus{
    border: 4px solid rgb(87, 255, 35);
    box-shadow: 0 0 50px rgb(87, 255, 35);
}

.input2__btn{
    padding: 18px 45px;
    background-color: rgb(87, 255, 35);
    border: 4px solid rgb(87, 255, 35);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
}

.input2__btn:active{
    border: 4px solid rgb(87, 255, 35);
    box-shadow: 0 0 30px rgb(87, 255, 35);
    background: none;
    color: rgb(87, 255, 35);
}


.input2__input{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background: none;
    border: 4px solid rgb(87, 255, 35);
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.input2__input:active{
    background-color: rgb(87, 255, 35);
    color: black;
    box-shadow: 0 0 30px rgb(87, 255, 35);
}

/* footer */
.footer{
    margin-bottom: 90px;
}


.icon__1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-bottom: 30px;
}

.footer__nav{
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 33px;
}

.footer__nav--link{
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.footer__nav--link:hover{
    color: rgb(87, 255, 35);
    text-shadow: 0 0 25px rgb(0, 255, 55);
}

.footer__nav--text{
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.footer__nav--span{
    color: rgb(87, 255, 35);
}