*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
}

.contener{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 100px;
}

.section{
    width: 100%;
    height: 865px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgb(56, 56, 56) 50%, #202020 );
}


.section__tetx{
    font-size: 48px;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section__paragrf{
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.card{
    width: 320px;
    height: 420px;
    background-color: white;
    border-radius: 6px;
    border: 3px solid #8DD83D;
}

.card:hover{
    transform: scale(1.2);
}

.card__image{
    width: 318px;
    height: 180px;
    border-radius: 6px 6px 0 0 ;
    margin-bottom: 22px;
}

.card__text{
    padding: 25px 20px;
}

.card__text--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #435766;
    margin-bottom: 15px;
}

.card__text--text{
    width: 220px;
    font-size: 24px;
    font-weight: 400;
    color: #435766;
}

.card__text--btn{
    padding: 20px 24px;
    background-color: #8DD83D;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

