/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}

.contener{
    width: 100%;
    max-width: 1980px;
    margin: auto;
    padding: 0 100px;
}

.header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__image{
    width: 120px;
    height: 40px;
    margin-bottom: 5px;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__nav--link{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.header__nav--link:hover{
    color: rgb(0, 255, 55);
    text-shadow: 0 0 30px rgb(87, 255, 35);
}


.section{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__image{
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

.section__image:hover{
    text-shadow: 0 0 0px rgb(87, 255, 35);
}

.section__box--text{
    margin-bottom: 25px;
    font-size: 75px;
    color: white;
    text-shadow: 0 0 60px rgba(255, 255, 255, 0.562);
}


.section__box--span{
    color: rgb(0, 255, 55);
    text-shadow: 0 0 60px rgba(0, 255, 55, 0.623);
}

.section__box--text2{
    margin-bottom: 10px;
    font-size: 35px;
    color: white;
}

.section__box--paragrf{
    width: 850px;
    font-size: 22px;
    font-weight: 400;
    color: white;
}

/* icon */
.icon{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.icon__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: none;
    border: 2px solid rgb(87, 255, 35);
}

.fa-brands{
    color: rgb(0, 255, 55);
    font-size: 35px;
}

.icon__box:hover{
    background-color: rgb(0, 255, 55);
    box-shadow: 0 0 40px rgb(87, 255, 35);
}

.fa-brands:hover{
    color: white;
}

.section__btn{
    display: flex;
    align-items: center;
    gap: 40px;
}

.section__btn--button{
    border-radius: 88px;
    background: rgb(87, 255, 35);
    border: 3px solid rgb(87, 255, 35);
    padding: 15px 35px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
}

.section__btn--button:hover{
    box-shadow: 0 0 40px rgb(87, 255, 35);
    background: none;
    border: 3px solid rgb(87, 255, 35);
    color: rgb(0, 255, 55);
}

.section__btn--buttonn:hover{
    box-shadow: 0 0 40px rgb(87, 255, 35);
    background: rgb(87, 255, 35);
    color: black;
}

.section__btn--buttonn{
    border-radius: 88px;
    background: none;
    border: 3px solid rgb(87, 255, 35);
    padding: 15px 48px;
    color: rgb(0, 255, 55);
    font-size: 24px;
    font-weight: 700;
}

