*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.contener{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 100px;
}

.section{
    width: 100%;
    height: 865px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgb(56, 56, 56) 50%, #202020 );
}


.section__tetx{
    font-size: 48px;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section__paragrf{
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

